.sticky-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  width: 50%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
}

.home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.home-wrapper button {
  margin: 30px;
}

.home-wrapper {
  margin: 30px;
}

.main-button {
  margin: auto;
  width: 50%;
}

.main-button button {
  margin: 30px;
}

.check-logo svg {
  font-size: 200px !important;
}

.form-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.form-flex button {
  margin: 30px;
}
